.container {
    display: flex;
    padding: 10px !important;
    height: 100% !important;
    overflow-x: scroll;
}

.header {
    display: flex;
    align-items: center;
    background-color: green;
    padding: 25px;
    color: white;
    text-transform: uppercase;
    text-shadow: 3px 3px 15px rgba(255, 255, 255, 0.4);
}

.listContainer {
    min-width: 250px;
    width: 250px;
    margin: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.list {
    border: 1px solid green;
    border-radius: 5px;
    overflow: auto;
    transition: 0.2s;
}

.list:hover {
    box-shadow: -5px 5px 10px 0px #000000a5;
    transition: 0.2s;
}

.listName {
    padding: 20px;
    background-color: green;
    color: white;
}

.newList {
    width: 100%;
    padding: 20px;
    background-color: green;
    color: white;
    border-radius: 15px 15px 0px 0px;
}

.deleteListButton{
    float: right;
    background-color: transparent;
    border: none !important;
    color: white;
    position: relative;
    bottom: 18px;
    left: 10px;
    padding: 0px !important;
}

.deleteListButton:hover{
    color: red !important;
}

.todo {
    display: flex;
    width: 100%;
}

.todoNotDone:hover {
    background-color: #e9ecef !important;
    color: black !important;
}

.todoDone {
   background-color: green !important;
   color: white !important;
}

.todoNotDone {
    background-color: white !important;
    color: black !important;
}

.todoNotDone:hover > button > div.checkUnDone::after {
    content: '✓' !important;
    position: relative;
    color: black;
    left: -14px;
}

.todoButton {
    display: flex;
    width: 100%;
    padding: 0px 20px !important;
    border: 2px solid transparent !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    color: inherit !important;
    text-align: left !important;
    align-items: center !important;
}

.todoDeleteButton {
    padding: 10px;
    border-radius: 0px !important;
    background-color: transparent !important;
    border: 2px solid transparent !important;
    color: inherit !important;
    text-align: left !important;
}

.todoDeleteButton:hover {
    color: red !important;
    text-shadow: -5px 5px 10px 0px #000000a5 !important;
}

.checkDone {
    max-width: 14px;
    margin-right: 10px;
}

.checkDone::after {
    content: '✓' !important;
    position: relative;
    color: white;
    left: -14px;
}

.checkUnDone {
    max-width: 14px;
    margin-right: 10px;
}

.todoTitleDone {
    text-decoration: line-through;
    color: white !important;
}

.form {
    border-top: 1px solid green;
}

.formgroup {
    text-align: center !important;
    padding: 5px 20px;
}

.formcontrol {
    width: 100%;
    border: 1px solid transparent !important;
    border-bottom: 1px solid green !important;
    background-color: transparent;
    border-radius: 0px !important;
}

.addListButton {
    width: 100%;
    background-color: white !important;
    color: green !important;
    font-size: 1.5em !important;
    border: none !important;
}

.addListButton:hover {
    background-color: green !important;
    color: white !important;
}

.addTodoButton {
    width: 100%;
    background-color: white !important;
    color: green !important;
    font-size: 1.5em !important;
    border: none !important;
    border-radius: 0px !important;
    border-top: 1px solid green !important;
}

.addTodoButton:hover {
    background-color: green !important;
    color: white !important;
}

.dropdownButton {
    background-color: green !important;
    border: none !important;
    padding: 0px !important;
    text-transform: uppercase !important;
    font-size: large !important;
    font-weight: bold !important;
}

.dropdownButton::hover {
    background-color: green;
}

.dropdownItem:active {
    background-color: green !important;
    color: white !important;
}

.dropdownItemActive {
    background-color: green !important;
    color: white !important;
}

@media screen and (max-width: 768px) {
    
    .container {
        display: block;
        padding: 0px !important;
    }

    .listContainer {
        min-width: 90vw;
        margin: 25px 5vw;
    }

    .formcontrol {
        border: none !important;
        padding: 10px 40px !important;
    }

    .formgroup {
        padding: 5px;
    }

    .addButton {
        display: block !important;
    }

    .dropdownMenu{
        width: 100% !important;
        margin-top: 10px !important;
    }

    .dropdownButton {
        width: 100%;
    }

    .todoNotDone:hover > button > div.checkUnDone::after {
        content: '' !important;
    }
}