.container {
    display: flex;
    padding: 0px !important;
    height: 100% !important;
    overflow-x: scroll;
}

.form {
    width: 400px;
    margin: auto;
    border: 1px solid #dee2e6 !important;
    padding: 1.5rem !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.button{
    width: 100%;
}


@media screen and (max-width: 768px) {
    
    .form {
        border: none !important;
        box-shadow: none !important;
    }

}